doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/plugins/fontawesome-free/css/all.min.css')
    link(rel='stylesheet', href='/adminlte/css/adminlte.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class='layout-top-nav')
    div(class='wrapper')
      nav(class='main-header')
      div(class='content-wrapper')
        div(class='content-header')
        div(class='content')
          div(class='container-fluid')
            block content

      aside(class='control-sidebar control-sidebar-dark')
      footer(class='main-footer')
    script(src='/plugins/jquery/jquery.min.js')
    script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/adminlte/js/adminlte.min.js')
    script(src='/javascripts/footer.js')
    script(src='/javascripts/header-nav.js')
