div(class='col-md-12')
    // general form elements
    div(class='card card-primary')
        div(class='card-header')
            h3(class='card-title')
                | Purchase History    
        // card-header
        div(class='card-body')
            table(class='table table-bordered table-striped' id='tblPurchaseList')
                thead
                    tr
                        th
                            | Purchase Id
                        th
                            | Product Name
                        th
                            | Bill Number
                        th
                            | Purchase Quantity
                        th
                            | Amount Before Tax
                        th
                            | Gst Amount
                        th
                            | Discount Amount
                        th
                            | Payable Amount
                        th
                