div(class='col-md-6')
    // general form elements
    div(class='card card-primary')
        div(class='card-header')
            h3(class='card-title')
                | Incense Powder Purchase
        // card-header
        // form start
        form(role='form')
            div(class='card-body')
                div(class='form-group')
                    label(for='exampleInputEmail1')
                        | Email address
                    input(type='email' class='form-control' id='exampleInputEmail1' placeholder='Enter email')
                // end form-group  
            // end card-body

            div(class='card-footer')
                button(type='submit' class='btn btn-primary')
                    | Submit        
    // end card